section#communication.container-fluid

  .row
    .col-md-12.nopadding
    picture
      source(media='(min-width: 415px)', srcset='img/hands.jpg')
      img.img-responsive(src='img/hands-sm.png', alt='' style='width:100%')
      //- .color-overlay
