section#contact.container-fluid

  .row
    .col-md-12.text-center
      .contactPadding
        h1
          strong Find out more
        p Sign up to receive free email notifications when new information is available on the uPort.   
        | With a subscription profile, you automatically receive updates without having to return to the website and check for changes.
          
        // Newsletter Form
        #subscribe
            form#notifyMe(action='php/notify-me.php', method='POST')
              .form-group
                .controls
                  // Field
                  input#mail-sub.form-control.email.srequiredField(type='text', name='email', placeholder='Click here to write your email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Click here to write your email'")
                  // Spinner top left during the submission
                  i.fa.fa-spinner.opacity-0
                  // Button
                  button.btn.btn-lg.submit Get notified
                  | &#x9;&#x9;                            
                  .clear
            // Answer for the newsletter form is displayed in the next div, do not remove it.
            .block-message
              .message
                p.notify-valid
            // /. Newsletter Form
            a(href='https://www.facebook.com/universalpassport/' target='_blank')
              i(class='fa fa-facebook-official fa-2x socialPadding' aria-hidden='true')
            a(href='https://www.instagram.com/uport_universalpassport/' target='_blank')  
              i(class='fa fa-instagram fa-2x socialPadding' aria-hidden='true')
            a(href='https://twitter.com/uport_universal' target='_blank')
              i(class='fa fa-twitter-square fa-2x socialPadding' aria-hidden='true')
