section#design.container-fluid
  
  .row
    .designSummary.col-md-6.words1
      .padding.margin
        h1 Design
        hr 
        p UPORT TRUE TO ITS NAME WILL BOAST TWO SEEMLESSY JOINT CURVED DISPLAYS WRAPPED ALONG A BRACELET LIKE DESIGN . KEY FEATURES INCLUDE A LONG LASTING BATTERY , UP TO 256 GB OF FLASH MEMORY with a expandable memory card compartment, BUILT IN WIFI AND BLUETOOTH CONNECTIVITY , USB PORTS, FM RADIO, GPS, NFC, WIRELESS CHARGING , AND A HOST OF SENSORS INCLUDING GYROSCOPE ,
          | ACCELOROMETER, gravity meter, E-COMPASS, LIGHT SENSOR , BODY TEMPERATURE INFRARED SENSOR , AS WELL AS A PULSE METER.
    .designPic.col-md-6.pic1
          center
            img.img-responsive(src='img/design.png')
