section#design.container-fluid
  
  .row
    .designSummary.col-md-6.padding
        h1 Innovation Device
        hr 
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
    .designPic.col-md-6
          center
            img.img-responsive(src='img/design.png')
