section#features.container-fluid

  .row
    .col-md-3
    .col-md-6.paddingBtm45
      center.heading
        | Features
      img.img-responsive(src='img/features.jpg')
    .col-md-3
    
  br
  br
    
  //- .row.paddingTopBot.text-center
  //-   .col-md-2.col-xs-12
  //-   .col-md-2.col-xs-12
  //-     i.fa.fa-cogs.fa-2x(aria-hidden='true')
  //-     span.headlines.text-right Design
  //-     //- br
  //-     //- br
  //-     //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  //-     //- | eiusmod tempor incididunt ut labore et dolore
  //-     br
  //-     br
  //-   .col-md-2.col-xs-12
  //-     i.fa.fa-cogs.fa-2x(aria-hidden='true')  
  //-     span.headlines.text-right Function
  //-     //- br
  //-     //- br
  //-     //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  //-     //- | eiusmod tempor incididunt ut labore et dolore
  //-     br
  //-     br
  //-   .col-md-2.col-xs-12
  //-     i.fa.fa-cogs.fa-2x(aria-hidden='true')  
  //-     span.headlines.text-right Innovation
  //-     //- br
  //-     //- br
  //-     //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  //-     //- | eiusmod tempor incididunt ut labore et dolore
  //-     br
  //-     br
  //-   .col-md-2.col-xs-12
  //-     i.fa.fa-cogs.fa-2x(aria-hidden='true')  
  //-     span.headlines.text-right Personal
  //-     //- br
  //-     //- br
  //-     //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
  //-     //- | eiusmod tempor incididunt ut labore et dolore
  //-     br
  //-     br
  //-   .col-md-2.col-xs-12
