section#hero.container-fluid

  .row.marginTop
    .prodVideo
      .col-md-6.nopadding
          #3d.interactive_3d
            img.img-responsive(src='img/white/black_1.png')
    //-       img.img-responsive(src='img/hero.png')
    .prodSummary#about
      .col-md-6.words
        .padding.margin
          h1 Innovative Device
          hr 
          p In 2007, the world made a step forward in connectivity with the introduction of the smartphone. Since then nothing has 
            span.italic really 
            | changed. Just more versions of the same ole thing. 
            span.text-uppercase.bolder Boring
            | . Now let's take a look at the next leap in the technological evolution. Meet the UPORT
            sup ®. 
            | The most technologically advanced smart computer to ever occupy your wrist. A step that will revolutionize the industry. A beautifully designed well crafted piece of wrist bling that keeps you connected with ease and a whole lot more. 
            | Imagine a world that will eliminate the burden of all the extras and simplify your existence. While opening your world to unlimited possibilities.
          p Welcome the uPORT
            sup ®.  
          p The uPORT
            sup ® 
            | a.k.a. universal passport or unlimited possibilities original revolutionary technology. 
          p Open your eyes to health monitoring, payment systems, internet connectivity, stand alone phone, gameplay, access systems key/wallet replacement password replacement and identification systems access and your very own personal assistant which will help you to monitor any and all your needs. Everything in your current smartphone but just a 
            span.bolder whole lot more. 
            | It's a Universal passport - The UPORT
            sup ®. 
          p The key to your world
            sup ®.
          //- br
          //- hr
          //- center
          //-   strong More Info
          //- hr
