section#spec.container-fluid


  .row
    .col-md-12.text-center
      .padding.specMargin
        h1
          strong Partners
        p SINCE THE CONCEPT OF A REVOLUTIONARY, MOLD BREAKING NEW smartphone HAS AMAZED THE TECHNOLOGY COMMUNITY AND HELPED THE UPORT TEAM MAGNETICALLY ATTRACT SOME OF THE WORLDS TOP TALENT. PARTNERING WITH SOME MAJOR PLAYERS IN THE MOBILE INDUSTRY HAS LAID THE FOUNDATION AND THE TEAM IS ON TRACK TO DELIVER ONE OF THE MOST TECHNOLOGICALY ADVANCED MOBILE DEVICES THE WORLD HAS EVER SEEN.
          
  .row
    .col-md-3
      img.img-responsive(src='img/softeq.png')
    .col-md-3
      img.img-responsive(src='img/flex.png')
    .col-md-3
      img.img-responsive(src='img/rdcore.png')
    .col-md-3
      img.img-responsive(src='img/creanova.png')
