section#personal.container-fluid

  .row.personalCopy
    .col-md-6.nopadding.pic2
      img.img-responsive(src='img/hand.png')
    .col-md-6.words2
      .padding.margin
        h1 Personal Companion
        hr
        span 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
