section#personal.container-fluid

  .row
    .col-md-6.nopadding
      img.img-responsive(src='img/hand.png')
    .col-md-6.personalCopy
      .textPadding
        h1 Innovation Device
        hr
        span 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
