section#quote.container-fluid

  .row
    .col-md-12.quotePadding
      center
        i.fa.fa-quote-left(aria-hidden="true")
        span   
          | The most important thing in communication is hearing what is not said.
          | If you want something new you have to stop doing something old.
          | So the best way to predict the future is to create it.
        i.fa.fa-quote-right(aria-hidden="true")
        br
        br
        p Peter Drucker
