section#blog.container-fluid

  .row
    .col-md-12.text-center
      .blogPadding
        h1
          strong Promotional Videos 
        hr

  .row
    .col-md-12
      center
        iframe(width='560', height='315', src='https://www.youtube.com/embed/fDBOL6vWtp8?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
        br
        br
        iframe(id='uportVideo' width='560', height='315', src='https://www.youtube.com/embed/ZWM2SG-0pu0', frameborder='0', allowfullscreen='')
        //img.img-responsive(src='img/blogPost1.jpg')
           
  br
  br      
