section#connect.container-fluid

  .row
    .col-md-6.sdBlack.paddingTopBot
      center
        img.img-responsive(src='img/sdBlack.png')
        //- p
        //-   | Lorem ipsum dolor sit amet, xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        //-   | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        //-   | Excepteur sint occaecat cup
    .col-md-6.sdWhite.paddingTopBot
      center
        img.img-responsive(src='img/sdWhite.png')
        //- p
        //-   | Lorem ipsum dolor sit amet, xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        //-   | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        //-   | Excepteur sint occaecat cup
