section#design.container-fluid
  
  .row
    .designSummary.col-md-6.words1
      .padding.margin
        h1 Design
        hr 
        p 
          | The uPort, true to its name, boast two seemlessly joint-curved flexible displays wrapped along a bracelet-like design. It key features include a long lasting battery, up to 256 GB of flash memory with an expandable memory card compartment, built in Wi-Fi and Bluetooth connectivity, USB ports, FM radio, GPS, NFC, and wireless charging. This smart device also has a host of sensors including gyroscope, accelerometer, gravity meter, e-compass, light sensor, body temperature infrared sensor, and a pulse meter.
          
    .designPic.col-md-6.pic1
          center
            img.img-responsive(src='img/design.png')
