section#design.container-fluid
  
  .row
    .designSummary.col-md-6.words1
      .padding.margin
        h1 Design
        hr 
        p 
          | Uport true to its name boast two seemlessy joint curved flexible displays wrapped along a bracelet like design. Key features include a long lasting battery, 
          | up to 256 gb of flash memory with a expandable memory card compartment, built in wifi and bluetooth connectivity, usb ports, fm radio, gps, nfc, wireless 
          | charging. And a host of sensors including gyroscope, accelorometer, gravity meter, e-compass, light sensor, body temperature infrared sensor, as well
          | as a pulse meter.
          
    .designPic.col-md-6.pic1
          center
            img.img-responsive(src='img/design.png')
