section#hero.container-fluid

  .row.marginTop
    .prodVideo
      .col-md-6.nopadding.pic
          #3d.interactive_3d
            img.img-responsive(src='img/white/black_1.png')
    //-       img.img-responsive(src='img/hero.png')
          
    .prodSummary#about
      .col-md-6.words
        .padding.margin
          h1 Uport Wrist Phone
          hr 
          p In 2007, the world made a step forward in connectivity with the introduction of the smartphone. Since then nothing has 
            span.italic really 
            | changed, just more versions of the same ole thing. 
            span.text-uppercase.bolder Boring
            | . Now let's take a look at the next leap in the technological evolutionand the future of technology devices. Meet the UPORT
            sup ®. 
            | The most technologically advanced smart computer to ever occupy your wrist. This is a step that revolutionizes the industry. A beautifully designed well-crafted piece of wrist bling that serves as an all-in-one smartwatch and phone which keeps you connected with ease and a whole lot more. 
            | Imagine a world that eliminates the burden of all the extras and simplifies your existence, while opening your world to unlimited possibilities.
          p Welcome the uPORT
            sup ®.  
          p The uPORT
            sup ® 
            | a.k.a. Universal Passport or 
            b U
            | nlimited 
            b P
            | ossibilities 
            b O
            | riginal 
            b R
            | evolutionary 
            b T
            | echnology. 
          p Open your eyes to health monitoring, payment systems, internet connectivity, Bluetooth connectivity, stand-alone phone, gameplay, access systems, key/wallet replacement, password replacement, and identification systems access, as well as your very own personal assistant (AI), which helps you to monitor any and all of your needs. This smart device has everything in your current smartphone, but just a
            span.bolder whole lot more. 
            | It's a Universal Passport - The UPORT
            sup ®. 
          p The key to your world
            sup ®.
          //- br
          //- hr
          //- center
          //-   strong More Info
          //- hr
