section#logo.container-fluid.logoPic

  .row
    .col-md-12.nopadding.logoPic
      //- picture
      //-   source(media='(min-width: 415px)', srcset='img/logo.jpg')
      //-   img.img-responsive(src='img/logo-sm.jpg', alt='' style='width:100%')
      //-   .color-overlay
