section#partners.container-fluid


  .row
    .col-md-12.text-center
      .padding.specMargin
        h1
          strong Partners
        hr
        p 
          | The concept of a revolutionary, mold-breaking new smartphone has amazed the technology community and helped the uPort team magnetically attract some of the worlds top talent. Partnering with some major players in the mobile industry has laid the foundation and the team is on track to deliver one of the most technologically advanced mobile devices the world has ever seen.
        br
        br
  .row
    .col-md-3.col-xs-3.paddingSofteq
      a(href='http://www.softeq.com' target='_blank')
        img.img-responsive(src='img/softeq.jpg')
    .col-md-3.col-xs-3
      img.img-responsive(src='img/flex.png')
    .col-md-3.col-xs-3
      img.img-responsive(src='img/rdcore.png')
    .col-md-3.col-xs-3
      img.img-responsive(src='img/creanova.png')
    
  .row.partnersRow2
    .col-md-3.col-xs-3
      img.img-responsive(src='img/texas.png')
    .col-md-3.col-xs-3
      img.img-responsive(src='img/plasticLogic.png')
    .col-md-3.col-xs-3
      img.img-responsive(src='img/clickTouch.png')
    .col-md-3.col-xs-3
      img.img-responsive(src='img/apt.png')
      
