section#personal.container-fluid

  .row.personalCopy
    .col-md-6.nopadding.pic2
      img.img-responsive(src='img/hand.png')
    .col-md-6.words2
      .padding.margin
        h1 Personal Companion
        hr
        p 
          | Many of the communication devices that attempt to make the jump from our hands to our wrists tend to follow the same form factor as mechanical watches (think pebble or Apple iwatch for example). 
          span.italic The UPORT is a smartphone, entertainment and gaming hub, social network and news feed, personal assistant, digital watch, and a stunning piece of wrist bling. 
          | All rolled into one futuristic device and that is just the start. To call the UPORT a smart watch would be an unfair statement because it does replace your Smartphone.
        p
          | The uPort simplifies your life by replacing your personal identifiable information, keys, wallet and ID.  While giving you access to any system with ease.
        p 
          | The uPort also features a personal companion, your very own A.I. that helps you and gets familiar with your everyday needs.  To assist you in all of your life’s endeavors.
