section#personal.container-fluid

  .row.personalCopy
    .col-md-6.nopadding.pic2
      img.img-responsive(src='img/hand.png')
    .col-md-6.words2
      .padding.margin
        h1 Personal Companion
        hr
        p 
          | Many of the communication devices that attempt to make the jump from our hands to our wrists tend to follow the same form factor as mechanical watches (think pebble or Apple iWatch for example).
          span.italic The uPORT is an all-in-one device with smartphone, entertainment, gaming, social network, news feed, personal assistant, and digital watch capabilities. Not to mention, this smart phone watch makes for a stunning piece of wrist bling. 
          | All of this rolled into one futuristic smart device, and that is just the start. To call the uPORT a smart watch would be an understatement because it completely replaces your smartphone.
        p
          | The uPort simplifies your life by replacing your personal identifiable information, keys, wallet and ID. While also giving you access to any system with ease.
        p 
          | The uPort also features a personal companion, your very own A.I. that helps you and gets familiar with your everyday needs, to assist you in all of your life’s endeavors.
