extends base

block body
  include ./partials/nav.jade
  include ./partials/hero.jade
  include ./partials/design.jade
  include ./partials/personal.jade
  include ./partials/features.jade

  include ./script.jade
  
