/************************
        Connect
************************/
#connect{
  .sdWhite{
    background-color: #F6F6F6;
  }
  .sdBlack{
    background-color: #E9E9E9;
  }
  p{
    padding: 2% 25%;
  }
}
