/************************
        Contact
************************/
#contact{
  background-color: #f6f6f6;

  .contactPadding{
    padding: 6% 0;
  }

  #subscribe p {
    font-weight: 400;
  }

  .socialPadding{
      padding: 0 1%;  
  }
#subscribe #notifyMe {
  max-width: 450px;
  margin: auto;
  margin-top: 2em;
}
#subscribe #notifyMe .form-group {
  margin-bottom: 1em;
}
#subscribe #notifyMe .form-group .fa {
  color: #757A86;
  position: absolute;
  text-align: center;
  top: 15px;
  left: 15px;
}
#subscribe #notifyMe .form-group .form-control {
  text-align: center;
  background: #FFFFFF;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  font-weight: 600;
  outline: medium none;
  padding: 0 1em;
  width: 100%;
  margin: auto;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#subscribe #notifyMe .form-group .form-control:hover, #subscribe #notifyMe .form-group .form-control:focus {
  box-shadow: none;
}
#subscribe #notifyMe .form-group .form-control::-webkit-input-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group .form-control::-moz-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group .form-control:-moz-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group .form-control:-ms-input-placeholder {
  color: #747c83 !important;
}
#subscribe #notifyMe .form-group button.submit {
  border: 2px solid #2196f3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: #2196f3;
  color: #FFFFFF;
  height: 50px;
  padding: 1em 0;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  width: 70%;
  margin: 20px auto 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#subscribe #notifyMe .form-group button.submit:hover {
  background: #00af94;
  color: #FFFFFF;
  border: 2px solid #00af94;
}
#subscribe .block-message {
  min-height: 50px;
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 0;
  padding: 15px;
  background: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
#subscribe .block-message.show-block-error {
  bottom: 0;
  background: #FF1D4D;
}
#subscribe .block-message.show-block-valid {
  bottom: 0;
  background: #00c8aa;
}
#subscribe p.notify-valid {
  color: #FFFFFF;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
}

.opacity-0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.opacity-03 {
  opacity: 0.3 !important;
}

.opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}
}
