/************************
        Design
************************/
#design{

  background-color: #424041;

  .designSummary{
    color: white;
    padding: 4% 10%;
  }
  .designPic{
    background-color: black;
  }
}
