/************************
        Design
************************/
#design{

  background-color: #424041;

  .designSummary{
    color: white;
    padding: 0 10%;
    margin: 9% 0;
  }
  .designPic{
    background-color: black;
  }
}
