/************************
        General
************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 1.7;
}

// .lineHeight{
//   line-height: 1.7;
// }

.nopadding{
  padding: 0;
}

.padding{
  padding: 10% 10%;
}

.paddingSmall{
  padding: 10% 5%;
}

.paddingTopBot{
  padding: 4% 0;
}

//// testing for text center ///

.textPadding{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textContainer{
  height: 430px;
  line-height: 400px;
}

.textCenter{
  vertical-align: middle;
  display: inline-block;
}
