/************************
          Nav
************************/
.navbar{
  background-color: white;
  padding-left:10%;
}
.navbar-right{
  padding-right:10%;
}

.brandText{
  font-size: 1.8em;
  font-family: $BrandText;
}
