/************************
        Personal
************************/
#personal{
  .nopadding{
    padding: 0;
  }
  img{
    height: 100%;
  }
  .personalPadding{
    padding: 10% 10%;
  }
  .personalCopy{
    background-color: #F6F6F6;
  }
}
