/************************
        Personal
************************/
#personal{
  .nopadding{
    padding: 0;
  }
  .personalPadding{
    padding: 12% 10%;
  }
  .personalCopy{
    height: 600px;
    background-color: #F6F6F6;
  }
}
