/************************
          Quote
************************/
#quote{
  background-color: #2a2b2c;
  height: 40vh;
  color: white;
  font-size: 2em;
  padding: 12% 10%;
  p{
    font-size: .7em;
  }
}
