/************************
          Quote
************************/
#quote{
  background: url(../img/bg.png) no-repeat;
  background-size:cover;
  background-color: #2a2b2c;
  color: white;
  font-size: 2em;

  .quotePadding{
    padding: 5% 10%;
  }

  p{
    font-size: .7em;
  }
}
