/************************
        Personal
************************/
#features{

  background-color: #2a2b2d;
  color: white;

  .heading{
    padding: 10% 0% 2% 0;
    font-size: 2.5em;
  }

  .headlines{
    font-size: 1.7em;
    padding-left: 10%;
  }
}
