// /************************
//         Logo
// ************************/
$height: 500px;

#logo{
  height: $height;
  background-color: #00071a;

  .logoPic{
    height: $height;
    background-size: cover;
  }

  @media screen and (min-width: 40em) {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
      .logoPic{
        background-attachment: fixed;
      }
    }
  }
}

@media only screen and (min-width:770px){
  .logoPic{
    background: url('../img/logo.jpg') no-repeat center;
  }
}

@media only screen and (max-width:769px){
  .logoPic{
    background: url('../img/logo-sm.jpg') no-repeat center;
  }
}
